.failures {
    display: flex;
    padding: 140px 134px 0px 277px;
    align-items: center;
}

.failures-title {
    color: #151414;
    font-size: 40px;

    font-weight: 700;

    width: 288px;
}

.failures-dec {
    width: 416px;
    color: #444343;
    font-size: 16px;

    font-weight: 400;
    line-height: 26px;

}

.failures-list {
    list-style-image: url(/rec/images/icons/check.png);
}

.failures-list li {
    color: #444343;

    font-size: 16px;

    font-weight: 400;
    line-height: 26px;
    padding-bottom: 8px;
}

.plan {
    display: flex;

}

.plans-title {
    padding-left: 765px;
    padding-top: 130px;
    padding-bottom: 50px;
    color: #151414;

    font-size: 40px;

    font-weight: 700;

}

.plan-info {
    text-align: center;
    padding-left: 230px;
    padding-bottom: 136px;
}

.bottom {
    background-image: url(/rec/images/watch.png);

    background-position-x: 230px, 230px;

    background-repeat: no-repeat;
}

.bottom-title {
    color: #FFF;

    font-size: 40px;

    font-weight: 700;

    width: 459px;
    padding: 60px 617px 24px 294px;

}

.call-button {
    margin: 0px 294px 60px;
    padding: 21px 36px;
    border-radius: 5px;
    background: #FFF;

    color: #005FAC;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}